<body>
  <header class="fixed-top" data-aos="fade-down">
    <nav class="navbar navbar-expand-lg">
      <div class="container">
        <a class="navbar-brand fw-bold" href="#">Pooja Gaware Udhan</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fa-solid fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link nav-hover" href="#home">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav-hover" href="#about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav-hover" href="#education">Education</a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav-hover" href="#skills">Skills</a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav-hover" href="#projects">Projects</a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav-hover" href="#contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <main>
    <section id="home">
      <div class="container row flex-wrap-reverse">
        <div class="col-md-8 d-flex flex-column justify-content-center" data-aos="fade-right">
          <h1 class="display-5 fw-bold mb-3">👋 Hello I am Pooja Gaware Udhan </h1>
          <p class="px-2 flex">I am a <span id="typed-text" class="text-primary"></span><span class="cursor">|</span>
          </p>
          <div class="d-flex gap-3 fs-3 px-2">
            <a href="https://www.linkedin.com/in/pooja-gaware/" target="_blank" class="list-group-item"><i
                class="fa-brands fa-linkedin"></i></a>
            <a href="https://x.com/YashKoladiya913" target="_blank" class="list-group-item"><i
                class="fa-brands fa-github"></i></a>
            <a href="https://www.naukri.com/mnjuser/homepage" target="_blank" class="list-group-item">
              <i class="fa-solid fa-briefcase"></i>
            </a>

            <a href="https://www.instagram.com/pooja.gaware.udhan/" target="_blank" class="list-group-item"><i
                class="fa-brands fa-instagram"></i></a>



          </div>
        </div>
        <div class="col-md-4 text-center" data-aos="fade-left">
          <img src="https://i.postimg.cc/FRJm09NP/219969.png " class="img-fluid border rounded-circle"
            alt="Pooja Gaware Udhan profile" loading="lazy" width="300">
        </div>
      </div>
      <button class="btn btn-dark" id="scrollBtn" (click)="scrollToTop()">
        
        <i class="fa-solid fa-arrow-up"></i>
      </button>
    </section>
    <section id="about">
      <div class="container py-5 mb-5">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3" data-aos="fade-up">About Me</h1>
        <p class="fs-5" data-aos="fade-up">
          I am a passionate and detail-oriented Angular Front-End Developer with a Bachelor of Computer Science and
          Engineering from BAMU University, Aurangabad. I specialize in building dynamic and responsive web applications
          using Angular, HTML, CSS, and JavaScript. My experience includes working on real-world projects such as an
          eCommerce platform, an admin dashboard, and a personal portfolio website. I have a strong understanding of
          component-based architecture, data binding, and state management in Angular.
          <br><br>
          I also have hands-on experience with Bootstrap, REST APIs, and UI/UX design tools like Figma. I am constantly
          improving my skills and staying updated with the latest front-end technologies.
          <br><br>
          I am confident in my ability to collaborate effectively in team environments and communicate technical ideas
          clearly. Thank you for visiting my portfolio. Feel free to check out my resume or get in touch with me!
        </p>
        <div class="d-flex gap-2" data-aos="fade-up">
          <a href="https://drive.google.com/file/d/1CMSy1LxiTEJY2EQ_wxUMiUk8suixlHdD/view?usp=drive_open"
            target="_blank" class="list-group-item">
            <button type="button" class="btn btn-dark">My Resume</button>
          </a>
          <a href="#contact" class="btn btn-outline-secondary">Contact Me</a>
        </div>
      </div>
    </section>

    <section id="education">
      <div class="container py-5" id="featured-3">
        <h2 class="pb-2 border-bottom border-dark" data-aos="fade-up">Education</h2>
        <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
          <div class="col d-flex align-items-stretch p-3">
            <div class="education p-3 rounded h-100 w-100" data-aos="flip-right">
              <i class="fa-solid fa-graduation-cap fs-2 mb-4"></i>
              <h3 class="fs-3">B.E. in CSE</h3>
              <p class="fs-5">Dr. BAMU, Aurangabad</p>
              <p>Passed in 2014 with 60.11%</p>
            </div>
          </div>

          <div class="col d-flex align-items-stretch p-3">
            <div class="education p-3 rounded h-100 w-100" data-aos="flip-right">
              <i class="fa-solid fa-graduation-cap fs-2 mb-4"></i>
              <h3 class="fs-3">Diploma in Computer Technology</h3>
              <p class="fs-5">MSBTE, Aurangabad</p>
              <p>Passed in 2011 with 78.45%</p>
            </div>
          </div>
        </div>

      </div>
    </section>
    <section id="skills" class="py-5">
      <h2 class="text-center mb-5" data-aos="fade-up">My Skills</h2>
      <div class="container-fluid d-flex flex-wrap gap-3 align-items-center justify-content-center display-5">

        <div class="d-flex gap-3 fs-1 px-2">
          <i class="fa-brands fa-html5" data-bs-toggle="tooltip" data-bs-placement="bottom" title="HTML5"></i>
          <i class="fa-brands fa-css3" data-bs-toggle="tooltip" data-bs-placement="bottom" title="CSS3"></i>
          <i class="fa-brands fa-js" data-bs-toggle="tooltip" data-bs-placement="bottom" title="JavaScript"></i>
          <i class="fa-brands fa-bootstrap" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Bootstrap"></i>
          <i class="fa-brands fa-angular" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Angular"></i>
          <i class="fa-brands fa-figma" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Figma"></i>
          <i class="fa-brands fa-node-js" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Node.js"></i>
          <i class="fa-solid fa-database" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Mysql"></i>
        </div>


      </div>
    </section>
    <section id="projects" class="py-5 my-5">
      <h2 class="text-center" data-aos="fade-up">My Projects</h2>
      <div class="container">

        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="card" data-aos="fade-up" data-aos-anchor-placement="center-bottom">
              <img
                src="https://images.unsplash.com/photo-1648737966636-2fc3a5fffc8a?q=80&w=870&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                alt="project" class="card-img-top">
              <div class="card-body">

                <h5 class="card-title">ISKCON</h5>
                <p class="card-text">Web app for ISKCON with features like event scheduling, donation system, member
                  management.</p>
                <p class="card-text"><strong>Tech:</strong> Angular, Bootstrap, HTML5, CSS3</p>
                <p class="card-text"><strong>Role:</strong> Angular Frontend Developer</p>
                <!-- <div class="d-flex gap-3 fs-4">
                  <a href="https://github.com/KOLADIYAYASH/WORKSURVAY-" class="list-group-item"><i class="fa-brands fa-github"></i></a>
                </div> -->
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="card" data-aos="fade-up" data-aos-anchor-placement="center-bottom">
              <img
                src="https://images.unsplash.com/photo-1586281380117-5a60ae2050cc?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTJ8fHByb2plY3R8ZW58MHx8MHx8fDA%3D"
                alt="project" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title">E-Commerce Website</h5>
                <p class="card-text">Implemented advanced search and responsive UI for an online store.</p>
                <p class="card-text"><strong>Tech:</strong> Angular, Bootstrap, Node.js, MySQL</p>
                <p class="card-text"><strong>Role:</strong> Angular Frontend Developer</p>
                <!-- <div class="d-flex gap-3 fs-4">
                  <a href="https://github.com/KOLADIYAYASH/Tic-Tac-Toe-Web-application" class="list-group-item"><i class="fa-brands fa-github"></i></a>
                </div> -->
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="card" data-aos="fade-up" data-aos-anchor-placement="center-bottom">
              <img
                src="https://images.unsplash.com/photo-1648737966636-2fc3a5fffc8a?q=80&w=870&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                alt="project" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title">CA-Office Management</h5>
                <p class="card-text">Web app for managing client records, tax filings, and office tasks.</p>
                <p class="card-text"><strong>Tech:</strong> Angular, Bootstrap, Figma</p>
                <p class="card-text"><strong>Role:</strong> Design & Development</p>
                <!-- <div class="d-flex gap-3 fs-4">
                  <a href="https://github.com/KOLADIYAYASH/UNIT_CALCULATER" class="list-group-item"> <i class="fa-brands fa-github"></i></a>
                </div> -->

              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="card" data-aos="fade-up" data-aos-anchor-placement="center-bottom">
              <img
                src="https://images.unsplash.com/photo-1586281380117-5a60ae2050cc?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTJ8fHByb2plY3R8ZW58MHx8MHx8fDA%3D"
                alt="project" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title">Hotel Management</h5>
                <p class="card-text">UI for reservation & billing with real-time data via MySQL.</p>
                <p class="card-text"><strong>Tech:</strong> Angular, Bootstrap, HTML5</p>
                <p class="card-text"><strong>Role:</strong> Development</p>
                <!-- <div class="d-flex gap-3 fs-4">
                  <a href="https://github.com/KOLADIYAYASH/210430100361-B.C.A-sou-25-5-22-" class="list-group-item"></a><i class="fa-brands fa-github"></i>
                </div> -->

              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="card" data-aos="fade-up" data-aos-anchor-placement="center-bottom">
              <img
                src="https://images.unsplash.com/photo-1648737966636-2fc3a5fffc8a?q=80&w=870&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                alt="project" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title">Police Society Management</h5>
                <p class="card-text">Web app to manage police society records like member contributions & transactions.
                </p>
                <p class="card-text"><strong>Tech:</strong> Angular, Bootstrap, HTML5</p>
                <p class="card-text"><strong>Role:</strong> Development</p>
                <!-- <div class="d-flex gap-3 fs-4">
                  <a href="https://github.com/KOLADIYAYASH/Flomic_Logistics_Website" class="list-group-item"><i class="fa-brands fa-github"></i></a>
                </div> -->

              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="card" data-aos="fade-up" data-aos-anchor-placement="center-bottom">
              <img
                src="https://images.unsplash.com/photo-1586281380117-5a60ae2050cc?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTJ8fHByb2plY3R8ZW58MHx8MHx8fDA%3D"
                alt="project" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title">FlyExpo Company Website</h5>
                <p class="card-text">Website for global spice and animal feed exporter. Includes product portfolio and
                  contact.</p>
                <p class="card-text"><strong>Tech:</strong> Bootstrap, HTML5, CSS3, Figma</p>
                <p class="card-text"><strong>Role:</strong> Web Developer</p>
                <!-- <div class="d-flex gap-3 fs-4">
                  <a href="https://github.com/KOLADIYAYASH/BASICSWEBPAGMAINPAG" class="list-group-item"><i class="fa-brands fa-github"></i></a>
                </div> -->

              </div>
            </div>
          </div>

        </div>
      </div>

    </section>
    <section id="contact" data-aos="fade-up">
      <div class="container">
        <div class="row my-5 py-5">
          <div class="col-md-6 d-flex flex-column align-items-start justify-content-center">
            <h1 class="display-5 fw-bold mb-3">Contact Me</h1>
            <p class="fs-5">Prefer email? Reach out to me at <i class="fa-solid envelope"></i> <a
                href="mailto:gawarep11@gmail.com" target="_blank">GAWAREP11&#64;GMAIL.Computer</a></p>
            <p class="fs-5"><i class="fa-solid fa-phone"></i>+91 8208381131</p>
          </div>
          <div class="col-md-6">
            <p class="fs-5">Send me a message</p>
            <form action="https://formspree.io/f/manbbwbe" method="POST">
              <div class="form-floating mb-3">
                <input type="text" class="form-control" name="name" id="name" placeholder="Your name">
                <label for="name">Your Name</label>
              </div>

              <div class="form-floating mb-3">

                <input type="email" class="form-control" name="email" id="email" placeholder="name@example.com">
                <label for="email">Your Email</label>
              </div>

              <div class="form-floating mb-3">
                <textarea name="message" id="message" class="form-control" placeholder="Hello Ankit"></textarea>
                <label for="message">Your message</label>
                <label for="message">Your message</label>
              </div>

              <button class="w-100 btn btn-lg btn-success" type="submit">Send <i
                  class="fa-solid fa-paper-plane"></i></button>

            </form>
          </div>
        </div>
      </div>
    </section>
  </main>
  <footer class="text-center">
    <p class="fs-5">Made With <i class="fa-solid text-danger fa-heart"></i> By Pooja Gaware Udhan</p>
  </footer>


</body>